.menu{
    margin: 2px;
    background-color: lightblue;
    padding-bottom: 5px;
    
    a{
        padding: 7px;
        margin-top:auto;
        margin-bottom:auto;
        font-size: 17px;
    }
}